/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */


html {
  /* font-size and line-height are two most important
  because it needs to fit the screen of the device. 

  When running http-server, use the second ip address on phone or tablet 
  */

  font-size: 22px; /* 18/16 = 1.125 (16 is default broswer font size*/
  line-height: 28px; /* 22px or higher, so 26/22 = 1.something em */

  /* css font stack */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 

}

h1,
h2,
h3,
p{
  padding-bottom: 28px;
}

/* anchor tag note */
a {
  /* Get rid of default blue underline in hyperlink, however, make the page less 
  acessible; Can be adjusted by making the line thinner */
  text-decoration: none;
}


/*  Image tag Fundamental */

/* By default, img tag is in-line, block gets rid of white space around edges */
/* make sure the image is responsive to different screen size */

img {
  display: block;  

  max-width: 100%; 
}

/* Figure element fundamental */

figure{
  position: relative;
}

figcaption{
  position: absolute;
  width: 100%;
  bottom: 0px;
  /* Really light gray */
  color: #EEE; 
  /* Really dark gray, with alpha channel at the end for transparency setting */
  background: rgba(20,20,20,0.3);
  display: none;
}
/* shoudl invoke javascript here when hover over images, not appropriate here!! because no hovering in mobile devices */
figure:hover figcaption{
  display: block;
}

/* single out a class when associate with li, this is to add space at bottom of each imaga */
.photo-gallery li {
  margin-bottom: 14px //half of line height 
}


/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body { position: relative; }

.g body::after { background: url('data:image/svg+xml;utf8,<svg height="28" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left; content: ""; display: block; pointer-events: none; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; position: absolute; }

.g body:active::after { display: none; }

